
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/aside.ejs') %>
    <link rel="stylesheet" href="/stylesheets/professores-index.css">
    <main id="professores-index">
        <h1>Professores</h1>
        <article>
            <section>
                <img src="/images/henry.jpg" alt="">
                <div>
                    <h2>Henry Lira</h2>
                    <form>
                        <button type="submit" title="Remover">
                            <i class="material-icons">delete</i>
                        </button>
                        <a title="Editar"><i class="material-icons">edit</i></a>
                    </form>
                </div>
            </section>
            <section>
                <img src="/images/gal.jpg" alt="">
                <div>
                    <h2>Gal Gadot</h2>
                    <form>
                        <button type="submit" title="Remover">
                            <i class="material-icons">delete</i>
                        </button>
                        <a title="Editar"><i class="material-icons">edit</i></a>
                    </form>
                </div>
            </section>
            <section>
                <img src="/images/benedict.jpg" alt="">
                <div>
                    <h2>Benedict Pereira</h2>
                    <form>
                        <button type="submit" title="Remover">
                            <i class="material-icons">delete</i>
                        </button>
                        <a title="Editar"><i class="material-icons">edit</i></a>
                    </form>
                </div>
            </section>
            <section>
                <img src="/images/scarlet.jpg" alt="">
                <div>
                    <h2>Scarlet Moura</h2>
                    <form>
                        <button type="submit" title="Remover">
                            <i class="material-icons">delete</i>
                        </button>
                        <a title="Editar"><i class="material-icons">edit</i></a>
                    </form>
                </div>
            </section>
            <section>
                <img src="/images/tom.jpg" alt="">
                <div>
                    <h2>Tom Beisiegel</h2>
                    <form>
                        <button type="submit" title="Remover">
                            <i class="material-icons">delete</i>
                        </button>
                        <a title="Editar"><i class="material-icons">edit</i></a>
                    </form>
                </div>
            </section>
            
        </article>       
    </main>

<%- include('../partials/foot.ejs') %>