<aside>
    <a id="logo" href="#"><img src="images/DHSchools.png" alt="DHSchools"></a>
    <nav>
        <ul>
            <li><a href="#"><i class="material-icons">face</i>Alunos</a></li>
            <li><a href="#"><i class="material-icons">school</i>Professores</a></li>
            <li><a href="#"><i class="material-icons">groups</i>Turmas</a></li>
            <li><a href="#"><i class="material-icons">class</i>Cursos</a></li>
        </ul>
    </nav>
</aside>