
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/aside.ejs') %>

    <main>
        
        <article class="number-display">
            <span>Alunos Matriculados</span>
            <div>999</div>
            
        </article>
        <article class="number-display">
            <span>Professores</span>
            <div>240</div>
        </article>
        <article class="number-display">
            <span>Turmas</span>
            <div>100</div>
        </article>
        <article>
            <span>Ultimos Alunos Acessados</span>
            <ul>
                <li><a href="#">Ataúlfo Bezerra</a></li>
                <li><a href="#">Honorário Franco da Rocha</a></li>
                <li><a href="#">Teófilo Sacramento Costa</a></li>
                <li><a href="#">Railda do Carmo</a></li>
            </ul>
        </article>
        <article>
            Últimos Professores
            <ul>
                <li><a href="#">Hendy Almeida</a></li>
                <li><a href="#">Camila Beisiegel</a></li>
                <li><a href="#">Natália Lira</a></li>
                <li><a href="#">Vinícius Oliveira</a></li>
            </ul>
        </article>
        <article>
            Últimas Turmas Acessadas
            <ul>
                <li><a href="#">Hendy Almeida</a></li>
                <li><a href="#">Camila Beisiegel</a></li>
                <li><a href="#">Natália Lira</a></li>
                <li><a href="#">Vinícius Oliveira</a></li>
            </ul>
        </article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est minima iusto consequatur dolor exercitationem hic explicabo provident sit quod neque maxime facere nisi quaerat, consectetur corporis fugit illo molestias expedita.</article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est minima iusto consequatur dolor exercitationem hic explicabo provident sit quod neque maxime facere nisi quaerat, consectetur corporis fugit illo molestias expedita.</article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est minima iusto consequatur dolor exercitationem hic explicabo provident sit quod neque maxime facere nisi quaerat, consectetur corporis fugit illo molestias expedita.</article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est minima iusto consequatur dolor exercitationem hic explicabo provident sit quod neque maxime facere nisi quaerat, consectetur corporis fugit illo molestias expedita.</article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est minima iusto consequatur dolor exercitationem hic explicabo provident sit quod neque maxime facere nisi quaerat, consectetur corporis fugit illo molestias expedita.</article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est minima iusto consequatur dolor exercitationem hic explicabo provident sit quod neque maxime facere nisi quaerat, consectetur corporis fugit illo molestias expedita.</article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est minima iusto consequatur dolor exercitationem hic explicabo provident sit quod neque maxime facere nisi quaerat, consectetur corporis fugit illo molestias expedita.</article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est minima iusto consequatur dolor exercitationem hic explicabo provident sit quod neque maxime facere nisi quaerat, consectetur corporis fugit illo molestias expedita.</article>
    </main>

<%- include('./partials/foot.ejs') %>