<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>DHSchools</title>
</head>
<body>
    <aside>
        <a id="logo" href="#"><img src="images/DHSchools.png" alt="DHSchools"></a>
        <nav>
            <ul>
                <li><a href="#"><i class="material-icons">face</i>Alunos</a></li>
                <li><a href="#"><i class="material-icons">school</i>Professores</a></li>
                <li><a href="#"><i class="material-icons">groups</i>Turmas</a></li>
                <li><a href="#"><i class="material-icons">class</i>Cursos</a></li>
            </ul>
        </nav>
    </aside>

    <main>
        
        <article class="number-display">
            <span>Alunos Matriculados</span>
            <div>999</div>
            
        </article>
        <article class="number-display">
            <span>Professores</span>
            <div>240</div>
        </article>
        <article class="number-display">
            <span>Turmas</span>
            <div>100</div>
        </article>
        <article>
            <span>Ultimos Alunos Acessados</span>
            <ul>
                <li><a href="#">Ataúlfo Bezerra</a></li>
                <li><a href="#">Honorário Franco da Rocha</a></li>
                <li><a href="#">Teófilo Sacramento Costa</a></li>
                <li><a href="#">Railda do Carmo</a></li>
            </ul>
        </article>
        <article>
            Últimos Professores
            <ul>
                <li><a href="#">Hendy Almeida</a></li>
                <li><a href="#">Camila Beisiegel</a></li>
                <li><a href="#">Natália Lira</a></li>
                <li><a href="#">Vinícius Oliveira</a></li>
            </ul>
        </article>
        <article>
            Últimas Turmas Acessadas
            <ul>
                <li><a href="#">Hendy Almeida</a></li>
                <li><a href="#">Camila Beisiegel</a></li>
                <li><a href="#">Natália Lira</a></li>
                <li><a href="#">Vinícius Oliveira</a></li>
            </ul>
        </article>
        
    </main>
</body>
</html>