main#professores-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#professores-index>article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin:20px 0 0 0;
    width: 100%;
}

main#professores-index>article>section{
    background-color: #F1F1F1;
    border: 1px solid #DDD;
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
}

main#professores-index>article>section>img{
    width: 120px;
    filter: grayscale(100%);
    transition: all 0.2s ease;
    margin-right: 20px;
}

main#professores-index>article>section:hover>img{
    width: 120px;
    filter: grayscale(0%);
    margin-right: 20px;
}


main#professores-index>article>section>h2{
    margin:0;
}

main#professores-index>article>section>span{
    display: block;
    font-size: 1rem;
}


main#professores-index>article>section>div>form{
    position: absolute;
    bottom:20px;
    right: 20px;
}

main#professores-index>article>section>div>form *{
    cursor: pointer;
    border: none;
    color: inherit;
}