
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/aside.ejs') %>
    <link rel="stylesheet" href="/stylesheets/areas-index.css">
    <main id="areas-index">
        <h1>Áreas</h1>
        <form>
            <h2>Adicionar Área</h2>
            <label for="tipo">
                Tipo
                <input type="text" name="tipo" id="tipo">
            </label>
            <label for="ano">
                Ano
                <input type="text" name="ano" id="ano">
            </label>
            <div class="controles">
                <button type="reset" class="cancel">Cancelar</button>
                <button type="submit" class="success">Salvar</button>
            </div>
        </form>
        <article>
            <section>
                <h2>Programação</h2>
                <span>2017</span>
                <form>
                    <button type="submit" title="Remover">
                        <i class="material-icons">delete</i>
                    </button>
                    <a title="Editar"><i class="material-icons">edit</i></a>
                </form>
            </section>
            <section>
                <h2>Programação</h2>
                <span>2017</span>
                <form>
                    <button type="submit" title="Remover">
                        <i class="material-icons">delete</i>
                    </button>
                    <a title="Editar"><i class="material-icons">edit</i></a>
                </form>
            </section>
            <section>
                <h2>Programação</h2>
                <span>2017</span>
                <form>
                    <button type="submit" title="Remover">
                        <i class="material-icons">delete</i>
                    </button>
                    <a title="Editar"><i class="material-icons">edit</i></a>
                </form>
            </section>
            <section>
                <h2>Programação</h2>
                <span>2017</span>
                <form>
                    <button type="submit" title="Remover">
                        <i class="material-icons">delete</i>
                    </button>
                    <a title="Editar"><i class="material-icons">edit</i></a>
                </form>
            </section>
        </article>       
    </main>

<%- include('../partials/foot.ejs') %>