<%- include('../partials/head.ejs') %>
<%- include('../partials/aside.ejs') %>
<link rel="stylesheet" href="stylesheets/alunos-index.css">
<main id="alunos">
    <form>
        <nav><a href="#">Adicionar aluno</a></nav>
        <input type="text" name="busca" id="busca" placeholder="Buscar aluno">
    </form>
    <article>
        <ul>
            <li>
                <section>
                    Ataúlfo Gouveia Sales
                    <div>Curso: <a href="#">Full Stack Node</a>|Turma: <a href="#">0321PPCCCCCCBRED</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                    <a href="#" class="material-icons" title="Enviar E-mail">email</a>
                </section>
            </li>
            <li>
                <section>
                    Ataúlfo Gouveia Sales
                    <div>Curso: <a href="#">Full Stack Node</a>|Turma: <a href="#">0321PPCCCCCCBRED</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                    <a href="#" class="material-icons" title="Enviar E-mail">email</a>
                </section>
            </li>
            <li>
                <section>
                    Ataúlfo Gouveia Sales
                    <div>Curso: <a href="#">Full Stack Node</a>|Turma: <a href="#">0321PPCCCCCCBRED</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                    <a href="#" class="material-icons" title="Enviar E-mail">email</a>
                </section>
            </li>
            <li>
                <section>
                    Ataúlfo Gouveia Sales
                    <div>Curso: <a href="#">Full Stack Node</a>|Turma: <a href="#">0321PPCCCCCCBRED</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                    <a href="#" class="material-icons" title="Enviar E-mail">email</a>
                </section>
            </li>
            <li>
                <section>
                    Ataúlfo Gouveia Sales
                    <div>Curso: <a href="#">Full Stack Node</a>|Turma: <a href="#">0321PPCCCCCCBRED</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                    <a href="#" class="material-icons" title="Enviar E-mail">email</a>
                </section>
            </li>
            <li>
                <section>
                    Ataúlfo Gouveia Sales
                    <div>Curso: <a href="#">Full Stack Node</a>|Turma: <a href="#">0321PPCCCCCCBRED</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                    <a href="#" class="material-icons" title="Enviar E-mail">email</a>
                </section>
            </li>
            <li>
                <section>
                    Ataúlfo Gouveia Sales
                    <div>Curso: <a href="#">Full Stack Node</a>|Turma: <a href="#">0321PPCCCCCCBRED</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                    <a href="#" class="material-icons" title="Enviar E-mail">email</a>
                </section>
            </li>
            <li>
                <section>
                    Ataúlfo Gouveia Sales
                    <div>Curso: <a href="#">Full Stack Node</a>|Turma: <a href="#">0321PPCCCCCCBRED</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                    <a href="#" class="material-icons" title="Enviar E-mail">email</a>
                </section>
            </li>
        </ul>
    </article>
</main>
<script>document.getElementById('busca').focus();</script>
<%- include('../partials/foot.ejs') %>