<%- include('../partials/head.ejs') %>
<%- include('../partials/aside.ejs') %>
<link rel="stylesheet" href="stylesheets/turmas-index.css">
<main id="turmas-index">
    <form>
        <nav><a href="#">Adicionar Turma</a></nav>
        <input type="text" name="busca" id="busca" placeholder="Buscar turma">
    </form>
    <article>
        <ul>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            <li>
                <section>
                    0221FLAK05BRED
                    <div>Curso: <a href="#">Full Stack Node</a> | Área: <a href="#">PROGRAMAÇÃO</a></div>
                </section>
                <section>
                    <a href="#" class="material-icons" title="Editar">create</a>
                    <a href="#" class="material-icons" title="Visualizar">info</a>
                </section>
            </li>
            
        </ul>
    </article>
</main>
<script>document.getElementById('busca').focus();</script>
<%- include('../partials/foot.ejs') %>